{% extends 'base.html' %}

{% block title %}
Discus about {{ merge_request.title }}
{% endblock %}
{% block content %}
    <h1>{{ merge_request.branch }} <a href="{{ merge_request.get_approve_url }}" class="btn ">Approve</a></h1>
    <p><b>developer:</b> {{ merge_request.developer }}</p>
    <p><b>Merge Master:</b> {{ merge_request.merge_master }}</p>
    <div class="well" id="chat">
        {% include 'mergemaster/discus-message.html' %}
    </div>
    <form action="" class="chat" method="post">
        {{ form.as_p }}
        <input type="submit" class="btn" id="sendMessage" value="Send message">{% csrf_token %}
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    $().ready(function(){
        function getMessage(){
            $('#id_last_message').val($('#chat .alert').first().attr('id').split('message-')[1]);
            var last_message = $('#id_last_message').val();
            $.ajax({
                url:'/merge/discus/load/{{ merge_request.id }}/',
                type: 'post',
                data:{'last_message':last_message},
                success: function(data){
//                    last_message
                    $('#chat').prepend(data)
                }
            })
        }
        setInterval(getMessage ,5000);

        $('#sendMessage').click(function(){
            var form = $(this).parent('form');
            var last_message = 0;
            if ($('#chat .alert').first().attr('id')){
                last_message = $('#chat .alert').first().attr('id').split('message-')[1];
            }
            $('#id_last_message').val(last_message);
            $.ajax({
                url:form.attr('action'),
                type: 'post',
                data: form.serialize(),
                success: function(data){
//                    last_message
                    $('#chat').prepend(data)
                }
            });
            $('#id_message').html('').val('');
            return false;
        })
    })
    </script>
{% endblock %}