{% extends 'base.html' %}

{% block title %}
    Merge list
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="btn-group panel">
                    <a href="#" id="merg" class="btn"><i class="icon-wrench"></i> I merged</a>
                    <a href="#" id="develop" class="btn">I developer</a>
                    <a href="#" id="clear" class="btn btn-info">Show all</a>
                </div>
                <table class="table" id="mergelist">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Developer</th>
                        <th>Merge Master</th>
                        <th>Branch</th>
                        <th>Status</th>
                        <th>Action</th>
                        {#                        <th>Pivotal</th>#}
                        <th>Change date</th>
                    </tr>
                    </thead>
                    {% for merge in merge_list %}
                        {% include 'mergemaster/merge-table-row.html' %}
                    {% endfor %}
                </table>
            </div>
            <div class="span2" id="activityfeed">
                <!--Sidebar content-->
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="/static/dataTables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $.fn.dataTableExt.oApi.fnResetAllFilters = function (oSettings, bDraw/*default true*/) {
            for (iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
                oSettings.aoPreSearchCols[ iCol ].sSearch = '';
            }
            oSettings.oPreviousSearch.sSearch = '';
            if (typeof bDraw === 'undefined') bDraw = true;
            if (bDraw) this.fnDraw();
        };
        {#        Update table row after new notification #}
        function rowUpdate(id) {

            $.ajax({
                url:'/merge/table/' + id + '/',
                dataType:'json',
                success:function (data) {
                    data_value = [
                        data.id,
                        data.developer,
                        data.merge_master,
                        data.branch,
                        data.status,
                        data.actions,
                        data.date
                    ];
//                    $table.fnAddData(data_value);
//                    $table.fnUpdate( data_value, 1, 0 ); // Row
                }
            })
        }
        //        todo ajax add new request or changed action
        $().ready(function () {
            $table = $('#mergelist').dataTable();
        $('#clear').click(function () {
            $table.fnFilter('', 2);
            $table.fnFilter('', 1);
            return false;
        });
        $('#merg').click(function () {
            $table.fnResetAllFilters(false);
            $table.fnFilter('{{ user.username }}', 2);
            return false;
        });
        $('#develop').click(function () {
            $table.fnResetAllFilters(false);
            $table.fnFilter('{{ user.username }}', 1);
            return false;
        });
        $activitifeed = $('#activityfeed');
        function getMessage() {
            $.ajax({
                url:'/merge/message/',
                success:function (data) {
                    $activitifeed.html($activitifeed.html() + data)
                }
            })
        }

        setInterval(getMessage, 5000);
        getMessage();

        })
        ;
    </script>
{% endblock %}