{% extends 'base.html' %}

{% block title %}
    {{ merge_master.user }}
{% endblock %}
{% block content %}
    <h2>Merge Master Statistic</h2>
    <b>Started: {{ review }}</b>
    <b>Cancel: {{ cancel }}</b>
    <b>delete: {{ delete }}</b>
    <b>reject: {{ reject }}</b>
    <b>approve: {{ approve }}</b>
    <div class="clearfix">
        <div class="angel"></div>
        <div class="dev">

            <div class="blue"></div>
            <div class="red"></div>

        </div>
        <div class="devil"></div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
    $().ready(function(){
        var approve = {{ approve }};
        var reject = {{ reject }};
        var all = approve + reject;

        var devil = reject / all * 100;
        if (devil == 0){
            $('.dev').html('<h1>100% Angel</h1>')
        }
        else if (devil == 100){
            $('.dev').html('<h1>100% Devil(SATANA)</h1>')
        }
        else{
            $('.dev .red').css('width',devil+'%').html(devil + '%');
            $('.dev .blue').css('width',100 - devil+'%').html(100 - devil + '%');
        }
    })
    </script>
{% endblock %}